# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo.
# Unless a later match takes precedence, @eng-python will be
# requested for review when someone opens a pull request.
* @instana/eng-python

# Order is important; the last matching pattern takes the most
# precedence.
/.github/CODEOWNERS @pvital @GSVarsha
