language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

dist: xenial

before_install:
  - "pip install --upgrade pip"
  - "pip install --upgrade setuptools"

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - mysql -e 'CREATE DATABASE travis_ci_test;'

install: "pip install -r requirements-test.txt"

sudo: required

services:
  - mysql
  - postgresql
  - rabbitmq
  - redis

script: python runtests.py
