version: '3.8'
services:
  redis:
    image: docker.io/library/redis
    volumes:
      - ./tests/conf/redis.conf:/usr/local/etc/redis/redis.conf:Z
    command: redis-server /usr/local/etc/redis/redis.conf
    ports:
      - "0.0.0.0:6379:6379"

  cassandra:
    image: docker.io/library/cassandra
    ports:
      - 9042:9042


  couchbase:
    image: docker.io/library/couchbase
    ports:
      - 8091-8094:8091-8094
      - 11210:11210

  mariadb:
    image: docker.io/library/mariadb
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: 'circle_test'
      MYSQL_USER: 'root'
      MYSQL_PASSWORD: ''
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_ROOT_PASSWORD: ''
      MYSQL_ROOT_HOST: '%'
    volumes:
      - ./tests/config/database/mysql/conf.d/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:Z

  mongodb:
    image: docker.io/library/mongo
    ports:
      - '27017:27017'

  postgres:
    image: docker.io/library/postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: passw0rd
      POSTGRES_DB: circle_test

  rabbitmq:
    image: docker.io/library/rabbitmq
    environment:
      - RABBITMQ_NODENAME=rabbit@localhost
    ports:
      - 5671:5671
      - 5672:5672

  pubsub:
    image: docker.io/egymgmbh/pubsub-emulator
    environment:
      - PUBSUB_EMULATOR_HOST=0.0.0.0:8085
    command:
      - test-project
      - test-topic
      - test-subscription
    ports:
      - "8085:8085"
