services:
  redis:
    image: public.ecr.aws/docker/library/redis
    volumes:
      - ./tests/conf/redis.conf:/usr/local/etc/redis/redis.conf:Z
    command: redis-server /usr/local/etc/redis/redis.conf
    ports:
      - "0.0.0.0:6379:6379"

  cassandra:
    image: public.ecr.aws/docker/library/cassandra
    ports:
      - 9042:9042

  couchbase:
    image: public.ecr.aws/docker/library/couchbase:community
    ports:
      - 8091-8094:8091-8094
      - 11210:11210

  mariadb:
    image: public.ecr.aws/docker/library/mariadb
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: 'instana_test_db'
      MYSQL_USER: 'root'
      MYSQL_ROOT_PASSWORD: passw0rd
      MYSQL_ROOT_HOST: '%'
    volumes:
      - ./tests/config/database/mysql/conf.d/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:Z

  mongodb:
    image: public.ecr.aws/docker/library/mongo
    ports:
      - '27017:27017'

  postgres:
    image: public.ecr.aws/docker/library/postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: passw0rd
      POSTGRES_DB: instana_test_db

  rabbitmq:
    image: public.ecr.aws/docker/library/rabbitmq
    environment:
      - RABBITMQ_NODENAME=rabbit@localhost
    ports:
      - 5671:5671
      - 5672:5672

  pubsub:
    image: quay.io/thekevjames/gcloud-pubsub-emulator:latest
    environment:
      - PUBSUB_EMULATOR_HOST=0.0.0.0:8681
      - PUBSUB_PROJECT1=test-project,test-topic
    ports:
      - "8681:8681"
      - "8682:8682"

  # Sidecar container for Kafka
  zookeeper:
    image: public.ecr.aws/ubuntu/zookeeper:latest
    ports:
      - 2181:2181
    environment:
      - TZ=UTC

  kafka:
    image: public.ecr.aws/ubuntu/kafka:latest   # works on amd64, arm64, ppc64le and s390x
    ports:
      - '9092:9092'
    environment:
      - TZ=UTC
      - ZOOKEEPER_HOST=zookeeper
