aiofiles>=0.5.0
aiohttp>=3.7.4
boto3>=1.17.74
celery>=5.0.5
coverage>=5.5
Django>=3.2.10
fastapi>=0.65.1
flask>=1.1.4,<2.0.0
grpcio>=1.37.1
google-cloud-pubsub<=2.1.0
google-cloud-storage>=1.24.0
lxml>=4.6.3
mock>=4.0.3
moto>=1.3.16,<2.0
mysqlclient>=2.0.3
nose>=1.3.7
PyMySQL[rsa]>=1.0.2
psycopg2-binary>=2.8.6
pika>=1.2.0

# protobuf is pulled in and also `basictracer`, a core instana dependency
# and also by google-cloud-storage
# but also directly needed by tests/apps/grpc_server/stan_pb2.py
# On 4.0.0 we currently get:
# AttributeError: module 'google._upb._message' has no attribute 'Message'
# TODO: Remove this when support for 4.0.0 is done
protobuf<4.0.0

pymongo>=3.11.4
pyramid>=2.0
pytest>=6.2.4
pytest-celery
redis>=3.5.3
requests-mock
responses<=0.17.0
sanic>=19.0.0,<21.9.0
sqlalchemy>=1.4.15
spyne>=2.13.16
tornado>=4.5.3,<6.0
uvicorn>=0.13.4
urllib3[secure]<1.27,>=1.26.5
