# https://github.com/pallets/markupsafe/issues/284
# Some of our customers still use legacy flask.
# The latest `markupsafe` can't be used with
# the required Jinja2 version of the required flask<2.0.0 version
# so we have to pin down markupsafe to the last version
# which still worked.

aiohttp>=3.7.4
asynqp>=0.6
flask>=1.1.4,<2.0.0
Jinja2<3.0.0
markupsafe==2.0.1
mock>=2.0.0
nose>=1.0
pytest>=4.6
urllib3[secure]!=1.25.0,!=1.25.1,<1.27,>=1.21.1
