aiofiles>=0.5.0
aiohttp>=3.8.3
boto3>=1.17.74
celery>=5.2.7
coverage>=5.5
Django>=5.0a1 --pre
fastapi>=0.92.0
flask>=2.3.2
markupsafe>=2.1.0
grpcio>=1.37.1
lxml>=4.9.2
mock>=4.0.3
moto>=4.1.2
mysqlclient>=2.0.3
PyMySQL[rsa]>=1.0.2
psycopg2-binary>=2.8.6
pika>=1.2.0

# protobuf is pulled in and also `basictracer`, a core instana dependency
# and also by google-cloud-storage
# but also directly needed by tests/apps/grpc_server/stan_pb2.py
# On 4.0.0 we currently get:
# AttributeError: module 'google._upb._message' has no attribute 'Message'
# TODO: Remove this when support for 4.0.0 is done
protobuf<4.0.0

pymongo>=3.11.4
pyramid>=2.0.1
pytest>=6.2.4
pytz>=2024.1
redis>=3.5.3
requests-mock
responses<=0.17.0
sanic==21.6.2
sqlalchemy>=2.0.0

uvicorn>=0.13.4
urllib3>=1.26.5
