version: 2.1

# More about orbs: https://circleci.com/docs/2.0/using-orbs/
# orbs:
#   ruby: circleci/ruby@1.1.2

commands:
  pip-install-deps:
    parameters:
      requirements:
        default: "tests/requirements.txt"
        type: string
    steps:
      - run:
          name: Install Python Dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install 'wheel>=0.29.0'
            pip install -r requirements.txt
            pip install -r <<parameters.requirements>>

  install-couchbase-deps:
    steps:
      - run:
          name: Install Couchbase Dependencies
          # Even if we use focal, we need to add the bionic repo
          # See: https://forums.couchbase.com/
          # t/installing-libcouchbase-dev-on-ubuntu-20-focal-fossa/25955/3
          command: |
            sudo apt update
            sudo wget -O - http://packages.couchbase.com/ubuntu/couchbase.key | sudo apt-key add -
            echo "deb http://packages.couchbase.com/ubuntu bionic bionic/main" | sudo tee /etc/apt/sources.list.d/couchbase.list
            sudo apt update
            sudo apt install libcouchbase-dev -y

  run-tests-with-coverage-report:
    parameters:
      cassandra:
        default: ""
        type: string
      couchbase:
        default: ""
        type: string
      gevent:
        default: ""
        type: string
      tests:
        default: "tests"
        type: string
    steps:
      - run:
          name: Run Tests With Coverage Report
          environment:
            INSTANA_TEST: "true"
            CASSANDRA_TEST: "<<parameters.cassandra>>"
            COUCHBASE_TEST: "<<parameters.couchbase>>"
            GEVENT_TEST: "<<parameters.gevent>>"
          command: |
            echo "CIRCLE_BUILD_NUM"
            echo ${CIRCLE_BUILD_NUM}
            . venv/bin/activate
            coverage run --source=instana -m pytest -v --junitxml=test-results <<parameters.tests>>
            coverage report -m
            coverage html
            mkdir coverage_results
            ls -A
            cp -R .coverage coverage_results/.coverage-${CIRCLE_BUILD_NUM}
            cd coverage_results
            ls -A
      - persist_to_workspace:
          root: .
          paths:
            - coverage_results

  store-pytest-results:
    steps:
      - store_test_results:
          path: test-results
  run_sonarqube:
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install Java
          command: |
            sudo apt-get update
            sudo apt-get install openjdk-11-jdk
      - run:
          name: Run SonarQube to report the coverage
          command: |
            pwd
            ls
            cd 
            ls -a /home/circleci/project/coverage_results
            cp coverage_results/* .
            coverage combine .
            coverage xml
            wget -O /tmp/sonar-scanner-cli.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.6.2.2472.zip
            unzip -d /tmp /tmp/sonar-scanner-cli.zip
            if [[ -n "${CIRCLE_PR_NUMBER}" ]]; then
              /tmp/sonar-scanner-4.6.2.2472/bin/sonar-scanner \
                -Dsonar.host.url="${SONARQUBE_URL}" \
                -Dsonar.login="${SONARQUBE_LOGIN}" \
                -Dsonar.pullrequest.key="${CIRCLE_PR_NUMBER}" \
                -Dsonar.pullrequest.branch="${CIRCLE_BRANCH}"
            else
              /tmp/sonar-scanner-4.6.2.2472/bin/sonar-scanner \
                -Dsonar.host.url="${SONARQUBE_URL}" \
                -Dsonar.login="${SONARQUBE_LOGIN}" \
                -Dsonar.branch.name="${CIRCLE_BRANCH}"
            fi
          store_artifacts:
            path: htmlcov

  store-coverage-report:
    steps:
      - store_artifacts:
          path: htmlcov

jobs:
  python37:
    docker:
      - image: cimg/python:3.7.17
      - image: cimg/postgres:9.6.24
        environment:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: ''
          POSTGRES_DB: circle_test
      - image: cimg/mariadb:10.11.2
      - image: cimg/redis:5.0.14
      - image: rabbitmq:3.9.13
      - image: mongo:4.2.3
      - image: egymgmbh/pubsub-emulator
        command:
          - test-project
          - test-topic
          - test-subscription
    working_directory: ~/repo
    steps:
      - checkout
      - pip-install-deps:
          requirements: "tests/requirements-307.txt"
      - run-tests-with-coverage-report
      - store-pytest-results
      - store-coverage-report

  python38:
    docker:
      - image: cimg/python:3.8.17
      - image: cimg/postgres:9.6.24
        environment:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: ''
          POSTGRES_DB: circle_test
      - image: cimg/mariadb:10.11.2
      - image: cimg/redis:5.0.14
      - image: rabbitmq:3.9.13
      - image: mongo:4.2.3
      - image: egymgmbh/pubsub-emulator
        command:
          - test-project
          - test-topic
          - test-subscription
    working_directory: ~/repo
    steps:
      - checkout
      - pip-install-deps
      - run-tests-with-coverage-report
      - store-pytest-results
      - store-coverage-report

  python39:
    docker:
      - image: cimg/python:3.9.17
      - image: cimg/postgres:9.6.24
        environment:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: ''
          POSTGRES_DB: circle_test
      - image: cimg/mariadb:10.11.2
      - image: cimg/redis:5.0.14
      - image: rabbitmq:3.9.13
      - image: mongo:4.2.3
      - image: egymgmbh/pubsub-emulator
        command:
          - test-project
          - test-topic
          - test-subscription
    working_directory: ~/repo
    steps:
      - checkout
      - pip-install-deps
      - run-tests-with-coverage-report
      - store-pytest-results
      - store-coverage-report

  python310:
    docker:
      - image: cimg/python:3.10.12
      - image: cimg/postgres:9.6.24
        environment:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: ''
          POSTGRES_DB: circle_test
      - image: cimg/mariadb:10.11.2
      - image: cimg/redis:5.0.14
      - image: rabbitmq:3.9.13
      - image: mongo:4.2.3
      - image: egymgmbh/pubsub-emulator
        command:
          - test-project
          - test-topic
          - test-subscription
    working_directory: ~/repo
    steps:
      - checkout
      - pip-install-deps:
          requirements: "tests/requirements-310.txt"
      - run-tests-with-coverage-report
      - store-pytest-results
      - store-coverage-report

  python311:
    docker:
      - image: cimg/python:3.11.4
      - image: cimg/postgres:9.6.24
        environment:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: ''
          POSTGRES_DB: circle_test
      - image: cimg/mariadb:10.11.2
      - image: cimg/redis:5.0.14
      - image: rabbitmq:3.9.13
      - image: mongo:4.2.3
      - image: egymgmbh/pubsub-emulator
        command:
          - test-project
          - test-topic
          - test-subscription
    working_directory: ~/repo
    steps:
      - checkout
      - pip-install-deps:
          requirements: "tests/requirements-310.txt"
      - run-tests-with-coverage-report
      - store-pytest-results
      - store-coverage-report

  python312:
    docker:
      - image: python:3.12
      - image: cimg/postgres:9.6.24
        environment:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: ''
          POSTGRES_DB: circle_test
      - image: cimg/mariadb:10.11.2
      - image: cimg/redis:5.0.14
      - image: rabbitmq:3.9.13
      - image: mongo:4.2.3
      - image: egymgmbh/pubsub-emulator
        command:
          - test-project
          - test-topic
          - test-subscription
    working_directory: ~/repo
    steps:
      - run:
          name: Install extra Python Dependencies for 3.12
          command: |
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
            source ~/.cargo/env

      - checkout
      - pip-install-deps:
          requirements: "tests/requirements-312.txt"
      - run-tests-with-coverage-report
      - store-pytest-results
      - store-coverage-report

  py38couchbase:
    docker:
      - image: cimg/python:3.8.17
      - image: couchbase/server-sandbox:5.5.0
    working_directory: ~/repo
    steps:
      - checkout
      - install-couchbase-deps
      - pip-install-deps:
          requirements: "tests/requirements-couchbase.txt"
      - run-tests-with-coverage-report:
          couchbase: "true"
          tests: "tests/clients/test_couchbase.py"
      - store-pytest-results
      - store-coverage-report

  py37cassandra:
    docker:
      - image: cimg/python:3.7.17
      - image: cassandra:3.11
        environment:
          MAX_HEAP_SIZE: 2048m
          HEAP_NEWSIZE: 512m
    working_directory: ~/repo
    steps:
      - checkout
      - pip-install-deps:
          requirements: "tests/requirements-cassandra.txt"
      - run-tests-with-coverage-report:
          cassandra: "true"
          tests: "tests/clients/test_cassandra-driver.py"
      - store-pytest-results
      - store-coverage-report

  final_job:
    docker:
      - image: cimg/python:3.8.17
    steps:
      - checkout
      - pip-install-deps:
            requirements: "tests/requirements-307.txt"
      - run_sonarqube

  py38gevent:
    docker:
      - image: cimg/python:3.8.17
    working_directory: ~/repo
    steps:
      - checkout
      - pip-install-deps:
          requirements: "tests/requirements-gevent.txt"
      - run-tests-with-coverage-report:
          gevent: "true"
          tests: "tests/frameworks/test_gevent.py"
      - store-pytest-results
      - store-coverage-report

workflows:
  version: 2
  build:
    jobs:
      - py37cassandra
      - py38gevent
      - final_job:
          requires:
            - py37cassandra
            - py38gevent