# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  python27:
    docker:
      - image: circleci/python:2.7.16-stretch
      - image: circleci/postgres:9.6.5-alpine-ram
      - image: circleci/mariadb:10.1-ram
      - image: circleci/redis:5.0.4
      - image: rabbitmq:3.5.4
      - image: circleci/mongo:4.2.3-ram
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            rm -rf venv
            export PATH=/home/circleci/.local/bin:$PATH
            pip install --user -U pip setuptools virtualenv
            virtualenv --python=python2.7 --always-copy venv
            . venv/bin/activate
            pip install -U pip
            python setup.py install_egg_info
            pip install -e '.[test]'
      - run:
          name: run tests
          environment:
            INSTANA_TEST: "true"
          command: |
            . venv/bin/activate
            pytest -v

  python38:
    docker:
      - image: circleci/python:3.7.8-stretch
      - image: circleci/postgres:9.6.5-alpine-ram
      - image: circleci/mariadb:10-ram
      - image: circleci/redis:5.0.4
      - image: rabbitmq:3.5.4
      - image: circleci/mongo:4.2.3-ram
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install -U pip
            python setup.py install_egg_info
            pip install -e '.[test]'
      - run:
          name: run tests
          environment:
            INSTANA_TEST: "true"
          command: |
            . venv/bin/activate
            pytest -v

  python39:
    docker:
      - image: circleci/python:3.9.0-buster
      - image: circleci/postgres:9.6.5-alpine-ram
      - image: circleci/mariadb:10-ram
      - image: circleci/redis:5.0.4
      - image: rabbitmq:3.5.4
      - image: circleci/mongo:4.2.3-ram
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install -U pip
            python setup.py install_egg_info
            pip install -e '.[test]'
      - run:
          name: run tests
          environment:
            INSTANA_TEST: "true"
          command: |
            . venv/bin/activate
            pytest -v

  py38couchbase:
    docker:
      - image: circleci/python:3.7.8-stretch
      - image: couchbase/server-sandbox:5.5.0
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            sudo apt-get update
            sudo apt install lsb-release -y
            curl -O https://packages.couchbase.com/releases/couchbase-release/couchbase-release-1.0-6-amd64.deb
            sudo dpkg -i ./couchbase-release-1.0-6-amd64.deb
            sudo apt-get update
            sudo apt install libcouchbase-dev -y
            python -m venv venv
            . venv/bin/activate
            pip install -U pip
            python setup.py install_egg_info
            pip install -e '.[test-couchbase]'
      - run:
          name: run tests
          environment:
            INSTANA_TEST: "true"
            COUCHBASE_TEST: "true"
          command: |
            . venv/bin/activate
            pytest -v tests/clients/test_couchbase.py

  py27couchbase:
    docker:
      - image: circleci/python:2.7.16-stretch
      - image: couchbase/server-sandbox:5.5.0
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            sudo apt-get update
            sudo apt install lsb-release -y
            curl -O https://packages.couchbase.com/releases/couchbase-release/couchbase-release-1.0-6-amd64.deb
            sudo dpkg -i ./couchbase-release-1.0-6-amd64.deb
            sudo apt-get update
            sudo apt install libcouchbase-dev -y
            python -m venv venv
            . venv/bin/activate
            pip install -U pip
            python setup.py install_egg_info
            pip install -e '.[test-couchbase]'
      - run:
          name: run tests
          environment:
            INSTANA_TEST: "true"
            COUCHBASE_TEST: "true"
          command: |
            . venv/bin/activate
            pytest -v tests/clients/test_couchbase.py

  py27cassandra:
    docker:
      - image: circleci/python:2.7.16-stretch
      - image: circleci/cassandra:3.10
        environment:
          MAX_HEAP_SIZE: 2048m
          HEAP_NEWSIZE: 512m
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            rm -rf venv
            export PATH=/home/circleci/.local/bin:$PATH
            pip install --user -U pip setuptools virtualenv
            virtualenv --python=python2.7 --always-copy venv
            . venv/bin/activate
            pip install -U pip
            python setup.py install_egg_info
            pip install -e '.[test-cassandra]'
      - run:
          name: run tests
          environment:
            INSTANA_TEST: "true"
            CASSANDRA_TEST: "true"
          command: |
            . venv/bin/activate
            pytest -v tests/clients/test_cassandra-driver.py

  py36cassandra:
    docker:
      - image: circleci/python:3.6.11
      - image: circleci/cassandra:3.10
        environment:
          MAX_HEAP_SIZE: 2048m
          HEAP_NEWSIZE: 512m
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install -U pip
            python setup.py install_egg_info
            pip install -e '.[test-cassandra]'
      - run:
          name: run tests
          environment:
            INSTANA_TEST: "true"
            CASSANDRA_TEST: "true"
          command: |
            . venv/bin/activate
            pytest -v tests/clients/test_cassandra-driver.py

  gevent38:
    docker:
      - image: circleci/python:3.8.5
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install -U pip
            python setup.py install_egg_info
            pip install -e '.[test-gevent]'
      - run:
          name: run tests
          environment:
            INSTANA_TEST: "true"
            GEVENT_TEST: "true"
          command: |
            . venv/bin/activate
            pytest -v tests/frameworks/test_gevent.py
workflows:
  version: 2
  build:
    jobs:
      - python27
      - python38
      - python39
      - py27cassandra
      - py36cassandra
      - gevent38
